<header class="site-header">
  <div class="wrap">
    <a class="site-title" href="{{ '/' | relative_url }}">{{ site.title }}</a>
    <nav class="site-nav">
      {%- assign default_paths = site.pages | map: "path" -%}
      {%- assign page_paths = site.header_pages | default: default_paths -%}
      {%- for path in page_paths -%}
        {%- assign p = site.pages | where: "path", path | first -%}
        {%- if p -%}
          <a href="{{ p.url | relative_url }}">{{ p.title | default: p.name }}</a>
        {%- endif -%}
      {%- endfor -%}
    </nav>
  </div>
</header>
